#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2b3e51;
  font-weight: 300;
}

body {
  background: #f3f3f3;
  margin: 0;
  letter-spacing: 0.3px;
}

main {
  position: relative;
  margin-top: $header;
}

.v-toast {
  font-family: "Open Sans", sans-serif;
}